<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/Kickstarter/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the kickstarter

<f:section name="main">
<h1>Single View for Event</h1>

<f:flashMessages />
<f:render partial="Event/Properties" arguments="{event:event}" />
<f:link.action action="list">Back to list</f:link.action><br />
</f:section>
